@import '../../style';

.logo {
    padding: 0 32px;
    @include flex(flex-start);

    &__icon {
        margin-right: 12px;
        width: 32px;
        height: 32px;
    }

    &__text {
        @include fz-19($grey-4);
    }
}