@import '../../style';

.notifications {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: $blue_1;
        border-radius: 50%;
        border: 1px solid $bg-grey-light;
        top: 0;
        right: -1px;
        opacity: 0;
    }

    &.active {
        &::after {
            opacity: 1;
        }
    }
}